@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Syne:wght@400..800&display=swap');
body {
    background-color: antiquewhite;

}
* {
    margin: 0;
    padding: 0;

}
nav{
    font-family: "Atkinson Hyperlegible Mono", serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 8vh;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0px 12px ;
}
.logo img{
    width:45px
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
.container{
    min-height: 70vh;
    background-color: rgb(29, 27, 27);
    color: white;
    font-family: "Atkinson Hyperlegible Mono", serif;
    display: flex;
    margin: 23px auto; 
    /* here we used auto to make the container in middle of horizonatla automatically .  */
    width: 70%;
    border-radius: 12px;
    padding: 23px;
    background-image: url("bg.jpg");
    background-size: contain;
}

.bottom{
    position: sticky;
    background-color: black;
    color: white;
    height: 105px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 12px;
}
.icons i{
    margin: 5px;
    font-size: 40px;
    cursor: pointer;
}
.bottom input{
    width: 70vw;
    cursor: pointer;
    
}
.songItemcontainer{
    margin-top: 50px;
}
.songItem{
    margin: 10px 0;
    display: flex;
    width: 90%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius:17px;
    color: black;



}
.songItem img{
    width: 50px;
    margin: 4 12px;
    padding: 10px;
    border-radius: 34px;
}
.songListplay{
    display: flex;
    padding: 10px;
    justify-content: center;
}

.timestamp{
    margin: 0 23px;
}
.songListplay i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 15vw;
}
.bottom .songInfo img{
    width: 50px;
    opacity: 0;
    transition: opacity 0.4s  ;
}